<!DOCTYPE html>
<html>
<head>
    <title>Amarr tradeorado Geminate Buyback</title>
    <style>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </style>
</head>
<body>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

    <form method="POST" action="/">
        <textarea name="text" rows="5" cols="30"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>